<div class="footer_container">

	  <div class="follow_container">
		  <p class="follow">
		  	<a href="mailto:info@southport.ru">Email</a>
		    <a href="http://twitter.com/southport"><img alt="Icon-team-twitter" src="<%=image_path('twitter.png')%>"/></a>
		    <a href="http://facebook.com/southport"><img alt="Icon-team-twitter" src="<%=image_path('facebook.png')%>"/></a>
		</p>
	</div>

	<div class="copyright">
		  <p>
		    <%= t('.copyright', :year => Time.now.year,
		          :site_name => Refinery::Core.site_name) %>
		  
		  </p>
	  </div>
</div>
