<div class="container logo">
<h1 id='logo'>
  <!--<%= link_to Refinery::Core.site_name, refinery.root_path %>-->
</h1>
</div>
<div class="container">
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>