$footer_width: 150px;

@font-face {
  font-family: 'SEGOEUIL';
 /* src: url('./SEGOEUIL.eot');*/
  src: local('SEGOEUIL'), url(font-path('SEGOEUIL.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

h1
{
  font-size: 1.3em;
}

body {
  background: #E4E4E2;

  font-family: 'SEGOEUIL';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
 
}

#page_container{
  min-height: 100%;
  position: relative;
  background: #ffffff;
}

#body_content_title{
  margin: 1em 0 0 12%;
}

#header {  
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  overflow: hidden;
  background: #E1E9FB; 

  .container{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;    
    padding: 15px 15px 20px 15px;  
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d6d6d6;

    nav {
      float: right;
      margin-right: 60px;
    }
  }

  a{
    padding: 0 15px;
    opacity: 1;
    background: transparent;
    text-decoration: none;
  }
}

#logo{
  display: block;
  height: 100px;
  background: hsl(206, 12%, 55%);
  margin: 0;
  width: 25%;
  float: left;
}

section#page{
  min-height: 100%;
  padding-bottom: $footer_width;
  width: 70%;
  margin-left: auto;
  margin-right: auto;  
}

#page_container > footer {
  border-top: 1px solid #ddd; 
  color: #767676;
  background: #F3F3F4;
  position:absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: $footer_width; 
  text-align: center;
  margin-top: -$footer_width;
  padding-bottom: 10px;

  .footer_container{
    text-align: center;
  
    ul{
       float: left;
       li{
        display: inline;
       }
      .follow_container{
        overflow: hidden;
      }
    }

  }

  .copyright{
    color: #666;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

ul
{
    list-style: none;
}
nav{
  ul {
    padding: 0px;
    text-transform: uppercase;
    background: transparent;

    li {
      margin-right: 10px;
      float: left;

      a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #535364
      }
    }
  }
}


