#articles{
 

  article{
    background: #FFFFFF;
    overflow: hidden;
    margin: 20px 0px;
    padding: 10px;
  }

  h1{
    margin: 5px 0px;
  }

  section{
  }

  footer{
    font-size: 0.9em;
    margin: 0 30px;

    p{
      margin: 0;
      float: right;

    }   
  }

  a{
    color: #00356b;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}